<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestSpace-cal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TestSpace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3bbc6b16820f570ffec28bb5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40ef73b581ccd3291c0bb280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A11A5D11760EE8100A39897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81112fe6d5f83ec12af784a5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
